meteo_data/RhiresD_1971-01-01-2020-12-31.csv filter=lfs diff=lfs merge=lfs -text
meteo_data/TmaxD_1971-01-01-2020-12-31.csv filter=lfs diff=lfs merge=lfs -text
meteo_data/TminD_1971-01-01-2020-12-31.csv filter=lfs diff=lfs merge=lfs -text
